{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}
{% load static %}

{% block main %}


<div class="container d-flex pt-5 ">
    <div class="mt-3 mb-3">
        <img class="rounded-5" src="{% static 'blog/images/kino.jpg' %}" width="700" height="500" alt="">
    </div>
    <div class="container mt-4 mb-4 col-3 text-light">
        <h6 class="text-center">О фильме</h6>
        <h6>Год производства
            2019
            Страна
            США, Канада
            Жанр
            ужасы, фэнтези, драма
            слова
            Слоган
            «You'll Float Again»
            Режиссер
            Андрес Мускетти
            Сценарий
            Гари Доберман, Стивен Кинг
            Продюсер
            Ричард Бренер, Гари Доберман, Марти П. Юинг, ...
            Оператор
            Чекко Варезе
            Композитор
            Бенджамин Уоллфиш
            Художник
            Найджел Чёрчер, Луис Секейра, Кристал Норт, ...
            Монтаж
            Джейсон Бэллэнтайн
            Бюджет
            $79 000 000
            Сборы в США
            $211 593 228
            Сборы в мире
            + $261 500 000 = $473 093 228
            сборы
            Сборы в России
            $17 983 586
            Премьера в России
            5 сентября 2019, «Каро-Премьер»
            IMAX
            Премьера в мире
            26 августа 2019, ...
            Цифровой релиз
            22 ноября 2019, «Warner Bros.»
            Возраст
            18+</h6>
    </div>

</div>
<section class="">
    <!-- Footer -->
    <footer class="bg-dark text-white pt-5 rounded-5">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">АДРЕС КИНОТЕАТОРА</h5>

                    <p>
                        Адрес: 60 Қатартол 2 кўчаси, Тоshkent 100096
                        Телефон: 8 88 701 88 38
                        Предложить правку · Вы – владелец этой организации?
                        Добавить информацию
                        Добавить сайт


                        Вопросы и ответы
                        В: Будет ли премьера Мстители:финал
                        И сколько стоит билеты?
                        О: 29 апреля. Где-то 30 000
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Возраст</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="text-white">От 7 до 12</p>
                        </li>
                        <li>
                            <p class="text-white">От 12 до 15</p>
                        </li>
                        <li>
                            <p class="text-white">От 18 до 40</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Цены Билетов</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-white">12.000 сум</p>
                        </li>
                        <li>
                            <p class="text-white">20.000 суp
                        <li>
                            <p class="text-white">25.000 сум</p>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 КИНОМАНИЯ:
            <a class="text-white" href="https://mdbootstrap.com/">PROWEB</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>

{% endblock main %}